<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Football Kakis</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">

    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div role="navigation">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="{{isActive "index" @exphbs.view}}">
            <a href="/menu/index/">Home</a></li>
        <li role="presentation" class="{{isActive "join" @exphbs.view}}">
            <a href="/menu/join">Join Game</a></li>
        <li role="presentation" class="{{isActive "signup" @exphbs.view}}">
            <a href="/menu/signup">Sign up/Log in</a></li>
        <li role="presentation" class="{{isActive "postgame" @exphbs.view}}">
            <a href="/menu/postgame">Post Game</a></li>

    </ul>

    {{{ body }}}
</div>

</body>
</html>