<div class="image">
    <img class="backimg" src="/image/football.jpg" alt="">
    <h2 class="imgtext"> <i class="fa fa-futbol-o" aria-hidden="true"></i>   Welcome to Football Kakis </h2>
</div>
<br>

<br>
<div class="jumbotron">
    <div class="container">
        <tr>
    <h1>{{games.length}} Games avaliable!</h1>
    <p>Got the urge to play? Could not find enough players or a pitch? Click on the link below to see all the games
        avaliable!</p>
    <p><a class="btn btn-primary btn-lg" href="/menu/join" role="button">Join a Game now!</a></p>
        </tr>
    </div>
</div>
