<h4>Find a Game here by searching venue</h4>
    <h5>List of Venue: NTU, NUS, SMU, KOVAN, CAGE, TURF CITY, ISS</h5>
<form method="GET" action="/add">
    <div >

        <input class="col-md-6" type="text" name="venue" id="venue" placeholder="Search venue for games">
        <br><br>
        <button type="submit" class="btn btn-primary btn-md">Find Now</button>

    </div>

    <h4>List of Games available: </h4>
</form>
<table class="table table-hover">
    <thead>
            <tr>

                    <th class="col-md-1">Game No</th>
                    <th class="col-md-1">Date</th>
                    <th class="col-md-1">Time</th>
                    <th class="col-md-1">Venue</th>
                    <th class="col-md-1">Pitch</th>
                    <th class="col-md-1">Duration (Hours)</th>
                    <th class="col-md-1">Cost per Player</th>

               </tr>
    </thead>
</table>
<table class="table table-hover">
    <tbody>
    {{#each games}}
        <tr>
            <td class="col-md-1">{{this.GameID}}</td>
            <td class="col-md-1">{{this.Date}}</td>
            <td class="col-md-1">{{this.Time}}</td>
            <td class="col-md-1">{{this.Venue}}</td>
            <td class="col-md-1">{{this.Pitch}}</td>
            <td class="col-md-1">{{this.Duration}}</td>
            <td class="col-md-1">{{this.Gamecost}}</td>

        </tr>

    {{/each}}
    </tbody>
</table>

<h4>Can't find a game you want? Why not start a game instead? Click on the link below to create a game! </h4>
<p><a class="btn btn-primary btn" href="/menu/postgame" role="button">Post a Game now!</a></p>