<div class="image">
    <img class="backimg" src="/image/football.jpg" alt="">
    <h2 class="imgtext" id="postgameimgtext"> Post A Game here and start finding Kakis! </h2>
</div>
<br>

<blockquote>
<h3>Got a pitch but cannot find players? Post your game here and get more kakis!</h3>
</blockquote>

<form method="POST" action="/post">
    <div class = "form-inline" >
        <label class="col-md-1" for="GameID">GameID:  </label>
        <input type="text" name="GameID" id="GameID" class="col-md-3 form-control" placeholder="Create a unique game ID
        (e.g Dan's tuesday game">

    </div>
    <div class = "form-inline" >
        <label class="col-md-1" for="thisdate">Date: </label>
        <input type="date" name="thisdate" id="thisdate" class="col-md-3 form-control" placeholder="yyyy-mm-dd">
    </div>

    <div class = "form-inline">
        <label class="col-md-1" for="Time">Time:</label>
        <input type="time" name="Time" id="Time" class="col-md-3 form-control" placeholder="xx:xx:xx">
    </div>

    <span class = "form-inline" >
        <label class="col-md-1" for="Venue">Venue:</label>
        <input type="text" name="Venue" id="Venue" class="col-md-3 form-control" placeholder="Please enter venue">
    </span>


    <br><br>
    <div class = "form-inline">
        <label class="col-md-1" for="Pitch">Pitch:</label>
        <input type="text" name="Pitch" id="Pitch" class="col-md-3 form-control" placeholder="5/ 7/ 11 a side">
    </div>

    <span class = "form-inline" >
        <label class="col-md-1" for="duration">Duration:</label>
        <input type="number" name="duration" id="duration" class="col-md-3 form-control" placeholder="Duration (hours)">
    </span>

    <div class = "form-inline">
        <label class="col-md-1" for="Gamecost">Cost per Player:</label>
        <input type="number" name="Gamecost" id="Gamecost" class="col-md-3 form-control" placeholder="Cost per player (SGD)">
    </div>

    <div class="col-sm-10">
        <button type="submit" class="btn btn-default">Add new Game!</button>
    </div>

</form>