.backimg {
    height: 350px;
    width: 100%;
}
li{
    position:absolute;
    margin-left:0px;
    padding-bottom: 0px;
}
li.active{
    border-bottom:none;
}
.jumbotron {
    position: relative;
    background:url("/image/jumbotron.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
}
.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.imgtext {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px white;
}

#postgameimgtext {
    font: 3em solid black;
    font-family: 'Open Sans', sans-serif;
}
